<h3 class="profile-title">
        <i class="fas fa-file-invoice"></i> Pagos
    </h3>


<div class="profile-card">
    <h3 class="profile-title">
        <i class="fas fa-file-invoice"></i> Comprobantes Subidos
    </h3>
    <div class="space-y-4" id="lista-pagos-reserva">
        {% include "residente/zonas_comunes/tabla_pagos_residente.html" %}
    </div>
</div>

<script>
(function() {
    const reservaId = "{{ reserva.id_reserva }}";
    const usuarioId = "{{ request.usuario.id_usuario }}";

    const socket = new WebSocket(
        (window.location.protocol === "https:" ? "wss://" : "ws://") +
        window.location.host +
        "/ws/pagos-reserva-user/" + usuarioId + "/" + reservaId + "/"
    );

    socket.onmessage = function(event) {
        const data = JSON.parse(event.data);
        if (["created", "updated", "deleted"].includes(data.action)) {
            document.getElementById("lista-pagos-reserva").innerHTML = data.html;
        }
    };

    socket.onclose = function() {
        console.log("WebSocket cerrado. Reintentando en 5 segundos...");
        setTimeout(() => location.reload(), 5000);
    };
})();
</script>
