<div id="tabla-vehiculos">
    {% include "administrador/vehiculos/tabla_vehiculos.html" %}
</div>

<script>
    const vehiculosSocket = new WebSocket(
        'ws://' + window.location.host + '/ws/vehiculos/'
    );

    vehiculosSocket.onmessage = function(e) {
        const data = JSON.parse(e.data);
        if(data.html){
            document.getElementById('tabla-vehiculos').innerHTML = data.html;
        }
    };

    vehiculosSocket.onclose = function(e) {
        console.error('WebSocket de Vehículos cerrado inesperadamente.');
    };
</script>
